<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= @restaurant.name %></h5>
    <h5 class="card-subtitle mb-2 text-muted"><%= @restaurant.category %></h6>
    <p class="card-text"><%= @restaurant.address %></p>
    <p class="card-text"><%= @restaurant.phone_number %></p>

    <%= render 'reviews/form', review: @review %>

    <h5>Reviews</h5>
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %> | <%= review.rating %> stars</li>
      <% end %>
    </ul>

  </div>
</div>
